.chat-main 
  .group-info
    .group-info_left_box
      .group-info_left_box_group
        = @group.name
      .group-info_left_box_member
        Member：名前
    .group-info_right_box
      %a.group-info__right_box_button
        = link_to "EDIT","edit",class: 'button' 
  .message-list
    = render @messages
  .message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'