.chat-main 
  .group-info
    .group-info_left_box
      .group-info_left_box_group
        = @group.name
      .group-info_left_box_member
        - @group.users.each do |user|
          = user.name
    .group-info_right_box
      %a.group-info__right_box_button
        = link_to "EDIT", edit_group_path(@group.id)
  .message-list
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form-box_text' , placeholder: 'type a message'
      .form-box
        = f.label :image, class: 'form-box_image ' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form-box_image_file'
      = f.submit 'Send', class: 'submit-button'